/* -
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
　　　　　●▬▬▬▬▬▬▬▬▬▬▬▬▬▬๑ 　❤️๑▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
　. 　　　　　　　　　　　　　　　　　　o 　　　　　+
　　()　　　　　　+　　 Made with ❤ by ~
　　　　　o 　　　　　Areal Alien ❥ 雷克斯　　　　.
　　.　　　　　　　　　　　.
　　　　　　　　　　　　 ●▬▬▬๑ 💙 ๑▬▬▬●　　　　　　()
　　+　　　　　　. 　　　　　　　　　　　　　　o
　o　　　　　　　　　　　 ▄▀▄　　　▄▀▄　　　　　　　+
　　　　　　+　　　　　 ▄█░░▀▀▀▀▀░░█▄　　.
　　　.　　　　　 ▄▄ 　█░░░░░░░░░░░█　▄▄
　　　　　　.　 █▄▄█　█░░▀░░┬░░▀░░█　█▄▄█　　　o
　　　　　●▬▬▬▬▬▬▬▬▬▬▬▬▬▬๑ 　❤️๑▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬●
-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-*-*-~*~-*-*-~*~*-*-~*~-* |
- */
:root {
    --bc: #0f0e0f;
    --primary: #da2c4d;
    --white: #ffffff;
    --black: #000000;
    /* Colors */
    --red: #da2c4d;
    --orange: #fd7e14;
    --yellow: #f8ab37;
    --yellow-bright: #ffc107;
    --light-green: #24e33a;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    /* Gray Colors */
    --gray: #9e9d9b;
    --gray-dark: #343a40;
    /* Sizes */
    --heading: 3.4rem;
    --heading-large: 7.5rem;
    --heading-medium: 2rem;
    --paragraph: 1.1rem;
    --button-large: 1.6rem;
    --button-small: 1.2rem;
    /* Fonts */
    --font-main: "Poppins";
    --font-slim: "Roboto";
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-main);
    background: var(--bc);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}
main {
    width: 100%;
    min-height: 100vh;
    position: relative;
}
h1 {
    color: var(--white);
    font-size: var(--heading-large);
    font-weight: 700;
}
h2 {
    color: var(--white);
    font-size: var(--heading-medium);
}
p {
    color: var(--white);
    font-size: var(--paragraph);
}
a {
    color: var(--white);
    font-size: var(--paragraph);
    text-decoration: none;
}
/* -
-*-~*~-*-*-~*~-*-*-~*~-* |
　　　　　　Classes　　　　　|
-*-~*~-*-*-~*~-*-*-~*~-* |
- */
/* Global classes */
.space {
    min-height: 10vh;
}
/* Flexbox */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.flexbox-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
/* page */
/* Header */
#header {
    width: 100%;
    margin: 4.5em 0 0 0;
    height: calc(100vh - 4.5em);
    position: relative;
    overflow: hidden;
}
.header-title {
    margin: 0;
    font-family: var(--font-title);
    font-size: var(--heading-large);
    position: absolute;
    z-index: 10;
}
.header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .35);
    z-index: 2;
}
.header-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}
/* Main */
#main {
    min-height: auto;
}
/* Selection */
::selection {
    color: var(--white);
    background: var(--primary);
}
/* Scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: transparent;
}
/* -
-*-~*~-*-*-~*~-*-*-~*~-* |
　　　　　@keyframes　　　　|
-*-~*~-*-*-~*~-*-*-~*~-* |
- */

/* -
-*-~*~-*-*-~*~-*-*-~*~-* |
　　　　@media rules　　　　|
-*-~*~-*-*-~*~-*-*-~*~-* |
- */
@media only screen and (max-width: 1660px) {

}
@media only screen and (max-width: 1456px) {

}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 756px) {

}
@media only screen and (max-width: 496px) {

}
